/*
  Overrides
------------------------------------------
*/

//Theme Colors
$primary: #fca800;
$secondary: #5da694;
$success: green;
$danger: red;
$light: #fff;
$dark: #333;
$info: #999;

//Body
$body-bg: #eee;

//Buttons
$btn-border-radius: 1.5rem;
$btn-padding-x: 2rem;

/*
  Bootstrap
------------------------------------------
*/
@import "~bootstrap/scss/bootstrap";
